input {
  keyboard {
    xkb {
      layout "us"
    }
    repeat-delay 200
    repeat-rate 50
    numlock
    }

    touchpad {
      // off
      tap
      dwt
      natural-scroll
      accel-speed 0.5
      accel-profile "flat"
      scroll-factor 0.5
      scroll-method "two-finger"
      disabled-on-external-mouse
    }

    mouse {
      // off
      accel-speed -0.1
      accel-profile "flat"
      scroll-factor 1.2
    }
}

output "eDP-1" {
  // off
  mode "1920x1080"
  scale 1.0
  transform "normal"
  variable-refresh-rate on-demand=true
}

layout {
  gaps 10
  center-focused-column "never"
  preset-column-widths {
    proportion 0.25
    proportion 0.5
    proportion 0.75
    proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
      // off
			width 3
      active-color "#c4a7e7"
      inactive-color "#191724"
      urgent-color "#eb6f92"
    }

    border {
      off
      width 3
      active-color "#c4a7e7"
      inactive-color "#191724"
      urgent-color "#eb6f92"
    }

    shadow {
      on
      draw-behind-window true
      softness 40
      spread 1
      offset x=0 y=0
      color "#0007"
    }

    background-color "transparent"
}

spawn-sh-at-startup "dbus-update-activation-environment --systemd --all"
// spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-o" "*" "-i" "/home/neifua/Pictures/Wallpapers/MC_snow.png" "-m" "fill"
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "hypridle"
// spawn-at-startup "dunst"
spawn-at-startup "fcitx5"
spawn-sh-at-startup "QT_SCALE_FACTOR=1.3 qs -n -c noctalia-shell"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
	MOZ_ENABLE_WAYLAND "1"
	QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"
	ECORE_EVAS_ENGINE "wayland-egl"
	ELM_ENGINE "wayland_egl"
  SDL_VIDEODRIVER "wayland"
  CLUTTER_BACKEND "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
	_JAVA_AWT_WM_NONREPARENTING "1"
	NO_AT_BRIDGE "1"
	// GDK_BACKEND "wayland,x11"
}

cursor {
  xcursor-theme "BreezeX-RosePine-Linux"
  xcursor-size 32
  hide-when-typing
}

overview {
  zoom 0.7
  backdrop-color "#191724"
  workspace-shadow {
    // off
    softness 40
    spread 10
    offset x=0 y=0
    color "#0007"
  }
}

clipboard {
    disable-primary
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 10
        max-speed 2000
    }

    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

animations {
    // off
    slowdown 0.5
  }

window-rule {
	match app-id="xdg-desktop-portal-gtk"
	// match app-id="org.gnome.FileRoller"
  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.65; }
  open-floating true
}

window-rule {
  geometry-corner-radius 0
  draw-border-with-background false
  clip-to-geometry true
  tiled-state true
}

window-rule {
	match app-id="vesktop" title="vesktop"
	focus-ring {
		off
	}
}

window-rule {
  match app-id="firefox"
	match app-id="chromium-browser"
  match app-id="Spotify"
  match app-id="vesktop"
  match app-id="org.telegram.desktop"
	match app-id="nemo"
	match app-id="obs"
  default-column-width { proportion 1.0; }
}

window-rule {
	match app-id="java"
	match app-id="sun-awt-X11-XFramePeer"
	match app-id="com-sun-tools-javac-launcher-SourceLauncher"
  open-floating true
}

window-rule {
  match app-id="org.telegram.desktop" title="Media viewer"
  open-fullscreen false
  open-floating true
  default-column-width { proportion 0.75; }
  default-window-height { proportion 0.75; }
}

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
	match app-id="=foot_bluetui"
	open-floating true
	default-column-width { proportion 0.4; }
	default-window-height { proportion 0.6; }
}

window-rule {
	match app-id="=foot_nmtui"
	open-floating true
	default-column-width { fixed 660; }
	default-window-height { fixed 700; }
}

layer-rule {
  match namespace="rofi"
  // match namespace="waybar"
  shadow {
    on
    draw-behind-window true
    softness 20
    spread 1
    offset x=0 y=0
    color "#0007"
    }
}

binds {
    // Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q repeat=false          { spawn "foot"; }
    Mod+E repeat=false          { spawn-sh "foot yazi"; }
    Mod+Ctrl+E repeat=false     { spawn "nemo"; }
		Mod+S repeat=false					{ spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+L repeat=false          { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Return repeat=false     { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Shift+E repeat=false    { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
		Mod+Period repeat=false			{ spawn "emote"; }

    // XF86AudioRaiseVolume  allow-when-locked=true { spawn "pamixer" "--allow-boost" "--set-limit" "150" "-i" "2"; }
    // XF86AudioLowerVolume  allow-when-locked=true { spawn "pamixer" "--allow-boost" "--set-limit" "150" "-d" "2"; }
    // XF86AudioMute         allow-when-locked=true { spawn "pamixer" "-t"; }
    // XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

		// XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pamixer --allow-boost --set-limit 150 -i 2; vol=$(pamixer --get-volume); icon='/usr/share/icons/RoséPine-Moon/16x16/actions/audio-volume-high.svg'; notify-send -t 4000 -r 1001 -h string:x-canonical-private-synchronous:volume -i \"$icon\" \"Audio: ${vol}% | +2%\""; }
		// XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pamixer --allow-boost --set-limit 150 -d 2; vol=$(pamixer --get-volume); icon='/usr/share/icons/RoséPine-Moon/16x16/actions/audio-volume-low.svg'; notify-send -t 4000 -r 1001 -h string:x-canonical-private-synchronous:volume -i \"$icon\" \"Audio: ${vol}% | -2%\""; }
		// XF86AudioMute allow-when-locked=true { spawn-sh "pamixer -t; mute=$(pamixer --get-mute); if [ \"$mute\" = \"true\" ]; then state='Muted'; icon='/usr/share/icons/RoséPine-Moon/16x16/actions/audio-volume-muted.svg'; else state='Unmuted'; icon='/usr/share/icons/RoséPine-Moon/16x16/actions/audio-volume-medium.svg'; fi; notify-send -t 4000 -r 1001 -h string:x-canonical-private-synchronous:volume -i \"$icon\" \"Audio: ${state}\""; }
		// XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl set +5%; bright=$(brightnessctl get); max=$(brightnessctl max); pct=$((100 * bright / max)); icon='/usr/share/icons/RoséPine-Moon/16x16/actions/brightnesssettings.svg'; notify-send -t 4000 -r 1002 -h string:x-canonical-private-synchronous:brightness -i \"$icon\" \"Brightness: ${pct}% | +5%\""; }
		// XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl set 5%-; bright=$(brightnessctl get); max=$(brightnessctl max); pct=$((100 * bright / max)); icon='/usr/share/icons/RoséPine-Moon/16x16/actions/lighttable.svg'; notify-send -t 4000 -r 1002 -h string:x-canonical-private-synchronous:brightness -i \"$icon\" \"Brightness: ${pct}% | -5%\""; }

    Mod+W repeat=false { toggle-overview; }

    Mod+C repeat=false { close-window; }

    Mod+Left repeat=false         { focus-column-left; }
    Mod+Shift+Down repeat=false   { focus-window-down; }
    Mod+Shift+Up repeat=false     { focus-window-up; }
    Mod+Right repeat=false        { focus-column-right; }
    // Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    // Mod+L     { focus-column-right; }

    Mod+Ctrl+Left repeat=false    { move-column-left; }
    Mod+Ctrl+Down repeat=false    { move-window-down; }
    Mod+Ctrl+Up repeat=false      { move-window-up; }
    Mod+Ctrl+Right repeat=false   { move-column-right; }
    // Mod+Ctrl+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    // Mod+Ctrl+L     { move-column-right; }

    // Mod+J          { focus-window-or-workspace-down; }
    // Mod+K          { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    // Mod+Home      { focus-column-first; }
    // Mod+End       { focus-column-last; }
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Down repeat=false 		{ focus-workspace-down; }
    Mod+Up repeat=false   		{ focus-workspace-up; }
    // Mod+U              		{ focus-workspace-down; }
    // Mod+I              		{ focus-workspace-up; }
    Mod+Alt+Down repeat=false { move-column-to-workspace-down; }
    Mod+Alt+Up repeat=false   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         		{ move-column-to-workspace-down; }
    // Mod+Ctrl+I         		{ move-column-to-workspace-up; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+Shift+WheelScrollDown  cooldown-ms=150 	{ focus-workspace-down; }
    Mod+Shift+WheelScrollUp    cooldown-ms=150 	{ focus-workspace-up; }
    Mod+Alt+WheelScrollDown   cooldown-ms=150 	{ move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp     cooldown-ms=150 	{ move-column-to-workspace-up; }

    // Mod+WheelScrollRight      	{ focus-column-right; }
    // Mod+WheelScrollLeft       	{ focus-column-left; }
    // Mod+Shift+WheelScrollRight { move-column-right; }
    // Mod+Shift+WheelScrollLeft  { move-column-left; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
		Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Alt+Tab repeat=false { focus-workspace-previous; }

    Mod+BracketLeft repeat=false        { consume-or-expel-window-left; }
    Mod+BracketRight repeat=false       { consume-or-expel-window-right; }
    Mod+Shift+BracketLeft repeat=false  { consume-window-into-column; }
    Mod+Shift+BracketRight repeat=false { expel-window-from-column; }

    Mod+R repeat=false       	{ switch-preset-column-width; }
    Mod+Ctrl+R repeat=false 	{ switch-preset-window-height; }
    Mod+Shift+R repeat=false  { reset-window-height; }
    Mod+X repeat=false       	{ maximize-column; }
    Mod+F repeat=false       	{ fullscreen-window; }

    // Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+V repeat=false      { center-column; }
    Mod+Ctrl+C repeat=false { center-visible-columns; }

    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+A repeat=false { toggle-window-floating; }
    Mod+D repeat=false { switch-focus-between-floating-and-tiling; }

    // Mod+W { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+Shift+S repeat=false { screenshot; }
    Print repeat=false       { screenshot-screen; }
    Mod+Shift+W repeat=false   { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Mod+Shift+E repeat=false  { quit; }
    // Ctrl+Alt+Delete repeat=false { quit; }

    // Mod+Shift+0 repeat=false { power-off-monitors; }
}

debug {
   // honor-xdg-activation-with-invalid-serial
   // preview-render "screencast"
   // wait-for-frame-completion-before-queueing
}
